<section id="home-articles" class="py-2">
  <div class="container">
    <div class="articles-container" *ngIf="arr">
      <article *ngFor="let ar of arr.slice(0,i)" class="card">
        <img src={{ar.images.jpg.large_image_url}} alt="">
        <div>
          <div class="category category-ent"> Ranking #{{ar.rank}} | Score: {{ar.score}}</div>
          <h3> <a target="_blank" href={{ar.url}}>{{ar.title}}</a> </h3>
          <p>{{ar.synopsis.split(" ").splice(0, 20).join(" ")}}</p>
        </div>
      </article>
    </div>
    <button *ngIf="this.i <= 24 && arr" (click)="loadMore()" class="button-19" role="button"> Load More ! </button>
    <div style="display: flex;">
      <button *ngIf="arr && this.page > 1" (click)="next(-1)" class="button-19" style="background-color: beige;"> Prev
        -25</button>
      <button *ngIf="arr && this.hasNextPage === true" (click)="next(1)" class="button-19"
        style="background-color: beige;"> Next 25</button>
    </div>
    <div *ngIf="!arr" class="loader"></div>
  </div>
</section>
