/* You can add global styles to this file, and also import other style files */

body {
  background: url("https://source.unsplash.com/random/1600x900?anime");
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.py-2 {
  padding: 2rem 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.card {
  background: white;
  padding: 2rem;
  opacity: 0.9;
}

#home-articles .articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > *:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  align-items: center;
  /* this is depends on the grid parent and not this grid */
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}

//

@media (max-width: 768px) {
  #home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #home-articles .articles-container > *:first-child,
  #home-articles .articles-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
  }
  #home-articles .articles-container > *:last-child {
    grid-column: 2;
  }
}

@media (max-width: 600px) {
  #home-articles .articles-container {
    grid-template-columns: 1fr;
  }
  #home-articles .articles-container > *:last-child {
    grid-column: 1;
  }
}
