<nav class="navbar" style="min-width: 100vw; margin: 0;">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a href="#">
        <h4>Top<span>MaL</span>Clone</h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li class=""><a href="#">Home</a></li>
        <li class="navbar-dropdown">
          <a href="#" style="color: #C4C440; font-weight: 900;" class="dropdown-toggler">
            AnimEEE
          </a>
        </li>
        <li class="navbar-dropdown">
          <a href="#" style="color: #4D4DC0; font-weight: 900;" class="dropdown-toggler">
            MangaaaAA <i class="fa fa-angle-down"></i>
          </a>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Signin</a></li>
      </ul>
    </div>
  </div>
</nav>
