<nav class="navbar" (window:resize)="returnToPC($event)">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" (click)="ham()">
        <span></span><span></span><span></span>
      </button>
      <a routerLink="/">
        Top<span>MaL</span>Clone
      </a>
    </div>

    <div class="navbar-menu" id="n-menu">
      <ul class="navbar-nav">
        <li class=""><a routerLink="/">Home</a></li>
        <li>
          <a href="#" style="color: #C4C440; font-weight: 900;">
            AnimEEE
          </a>
        </li>
        <li>
          <a href="#" style="color: #4D4DC0; font-weight: 900;">
            MangAAA
          </a>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Signin</a></li>
      </ul>
    </div>
  </div>
</nav>
