* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.navbar > .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
  }
  @media (max-width: 768px) {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;

  .container {
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }
}

// navbar-header

$text-dark: #3c4250;
.navbar-header {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  a {
    font-weight: 700;
    font-size: 35px;
    color: $text-dark;
    span {
      color: #66f;
      font-size: 20px;
    }
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .navbar-toggler {
    cursor: pointer;
    border: none; display: none; outline: none;

    @media (max-width: 768px) { display: block }

    span {
      height: 2px;
      width: 22px;
      background-color: lighten($text-dark, 35%);
      display: block;
    }
    span:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}


//
.navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;

  @media (max-width: 768px) {
    display: none;
    text-align: center;
  }
  .navbar-nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      border-top: 1px solid #EEE;
      margin-top: 1rem;
    }

    // Ul
    > li {
      > a {
        color: $text-dark;
        text-decoration: none;
        display: inline-block;
        padding: 2px 0.5rem;
        &:hover {
          color: #66f;
        }
        @media (max-width: 768px) {
          border-bottom: 1px solid #eceef3;
        }
      }
    }
  }
}
